<app-alert class="" aria-live="polite" aria-atomic="true"></app-alert>
<body class="flex flex-col">
<nav class="z-10">
  <app-nav></app-nav>
</nav>
<main>
  <div class="z-5 hidden sm:block">
    <div id="blob"></div>
  </div>
  @if (!(this.userService.loading$ | async)) {
    <router-outlet></router-outlet>
  } @else {
    <div class="w-full h-full m-auto flex items-center justify-center">
      <app-spinner size="xl"></app-spinner>
    </div>
  }
</main>
<footer>
  <app-footer></app-footer>
</footer>
</body>
