<div class="custom-container">
  <div class="text-center mt-24">
    <div class="text-7xl font-bold flex justify-center">Plan&nbsp;
      <div>
        eenvoudig
        <span class="underline ">
          <svg class="stroke-pink-3" xmlns="http://www.w3.org/2000/svg" width="158" height="18" fill="none"
               viewBox="0 0 158 18" preserveAspectRatio="none">
            <path stroke="#353241" stroke-width="5"
                  d="M1 15c4.603-1.68 15.483-6.046 22.178-10.077C31.548-.115 34.895 15 41.172 15S53.307.389 63.35 3.412c9.743 2.933 8.632 17.127 26.208 6.547C107.133-.621 115.352 25.164 156 3.412"></path>
          </svg>
        </span>
      </div>
      &nbsp;je kerkdiensten.
    </div>
  </div>
  <div class="mt-5 ml-12">
    <ul class="w-fit mx-auto">
      <li>✔ <strong>Kerkdiensten plannen</strong> – Maak een dienst aan en voeg teamleden toe.</li>
      <li>✔ <strong>Setlists maken</strong> – Voeg liederen toe en beheer toonhoogte, notities en arrangementen.</li>
      <li>✔ <strong>Teamplanning</strong> – Nodig muzikanten en vocalisten uit, laat hen accepteren of weigeren.</li>
      <li>✔ <strong>Persoonlijke voorkeuren</strong> – Teamleden kunnen aangeven hoe vaak ze ingepland willen worden.</li>
      <li>✔ <strong>Integratie met Spotify & Ableton</strong> – Genereer automatisch playlists en setlists voor een soepele voorbereiding.</li>
    </ul>
  </div>
</div>
