<div class="">
  <div class="flex justify-between items-center p-4">
    <div>
      <a routerLink="/">Kerkalender</a>
    </div>
    <div class="flex justify-around space-x-2">
      <div class="my-auto mr-5 space-x-4 flex flex-column">
      @if (isLoggedIn) {
        <div><a href="/dashboard">Dashboard</a></div>
      }
      </div>
      @if (isLoggedIn) {
      <div class="relative flex items-center gap-x-4" (click)="logout()">
        <div class="avatar">{{ getInitials() }}</div>
        <div class="text-sm/6">
          <p class="font-semibold text-gray-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              {{ getUserName('first') }} {{ getUserName('last') }}
            </a>
          </p>
          <p class="text-gray-600">Uitloggen</p>
        </div>
      </div>
      } @else {
      <div (click)="logIn()" class="cursor-pointer">Log in</div>
      }
    </div>
  </div>
</div>
