<div class="custom-container">
  <div class="">
    <h1 class="text-3xl font-bold">Dashboard</h1>
    <div class="">
      <div class="grid grid-cols-2 space-x-5">
        <div class="bg-white p-5 flex flex-col justify-between">
          <div>
            <div class="text-xl font-bold">Aankomende Diensten</div>
            <div class="space-y-5 mt-5">
              <div class="flex justify-between items-center" *ngFor="let service of services">
                <div>
                  <div class="font-bold text-md">{{ service.title }}</div>
                  <div class="text-sm text-gray-600">{{ service.date }} | {{ service.start_time }} - {{ service.end_time }}</div>
                </div>
                <div class="h-full">
                  <a href="/dashboard/services/{{ service.id }}" class="">
                    <fa-icon class="fa-xl" [icon]="faCircleRight"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <button type="button" (click)="newService()" class="my-auto cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50">
              <fa-icon class="fa-lg text-gray-400 mr-2" [icon]="faPlus"></fa-icon>Nieuwe Dienst
            </button>
          </div>
        </div>
        <div class="bg-white p-5">
          <div class="text-xl font-bold">Mijn Verzoeken</div>
          <div class="mt-5 space-y-5">

            <div class="flex justify-between items-center" *ngFor="let request of userRequests">
              <div>
                <div class="font-bold text-md">{{ request.position.name }} <span class="font-normal">| {{ request.team.name }}</span></div>
                <div class="text-sm text-gray-600">{{ request.service.title }} | {{ formatDate(request.service.date) }} | {{ formatTime(request.service.start_time) }} - {{ formatTime(request.service.end_time) }}</div>
              </div>
              <div class="">
                <div *ngIf="request.status === 'accepted'" class="flex space-x-2">
                  <div (click)="updateStatus('accepted', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-primary-600" [icon]="faCircleCheck"></fa-icon>
                  </div>
                  <div (click)="updateStatus('denied', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-gray-400" [icon]="faCircleXmark"></fa-icon>
                  </div>
                </div>

                <div *ngIf="request.status === 'waiting'" class="flex space-x-2">
                  <div (click)="updateStatus('accepted', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-gray-400" [icon]="faCircleCheck"></fa-icon>
                  </div>
                  <div (click)="updateStatus('waiting', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-secondary-500" [icon]="faCircleQuestion"></fa-icon>
                  </div>
                  <div (click)="updateStatus('denied', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-gray-400" [icon]="faCircleXmark"></fa-icon>
                  </div>
                </div>

                <div *ngIf="request.status === 'denied'" class="flex space-x-2">
                  <div (click)="updateStatus('accepted', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-gray-400" [icon]="faCircleCheck"></fa-icon>
                  </div>
                  <div (click)="updateStatus('denied', request)" class="cursor-pointer">
                    <fa-icon class="fa-xl text-danger" [icon]="faCircleXmark"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
