<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div class="mt-5">
    <div class="grid grid-cols-2">
      <div class="bg-white p-5 mr-5">
        <div class="text-xl font-bold">Algemene Informatie</div>

        <div class="mt-5">
          <div class="mb-5">
            <label for="title">Titel</label>
            <input type="text" name="title" id="title" autocomplete="title" formControlName="title">
          </div>
          <div class="mb-5">
            <label for="date">Datum</label>
            <input type="date" name="date" id="date" autocomplete="date" formControlName="date">
          </div>
          <div class="grid grid-cols-2 mb-5">
            <div class="mr-2">
              <label for="start-time">Start Tijd</label>
              <input type="time" name="start-time" id="start-time" autocomplete="start-time" formControlName="startTime">
            </div>
            <div>
              <label for="end-time">Eind Tijd</label>
              <input type="time" name="end-time" id="end-time" autocomplete="end-time" formControlName="endTime">
            </div>
          </div>
          <div class="mb-5">
            <label for="location">Locatie</label>
            <div class="mt-2 grid grid-cols-1">
              <select id="location" name="location" autocomplete="location" formControlName="location">
                <option value="Reggestroom (Reggestraat 100, Enter)">Reggestroom (Reggestraat 100, Enter)</option>
                <option value="Online">Online</option>
                <option value="Anders">Anders</option>
              </select>
              <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <div>
            <label for="location">Service Manager</label>
            <div class="mt-2 grid grid-cols-1">
              <select id="manager" name="manager" autocomplete="manager" formControlName="manager">
<!--                <option value=""></option>-->
                <option value="0">System Admin</option>
              </select>
              <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-5">
        <div class="text-xl font-bold">Teams</div>

        <div class="mt-5">
          <div class="">
            <label for="team">Team Toevoegen</label>
            <div class="flex w-full">
              <div class="mt-2 grid grid-cols-1 w-full mr-2">
                <select id="team" name="team" autocomplete="team" #teamName>
                  <option value=""></option>
                  <option value="Worship">Worship</option>
                </select>
                <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </div>
              <button type="button" class="cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 mt-2" (click)="addTeam(teamName.value)">Toevoegen</button>
            </div>
          </div>

          <div class="border border-gray-200 rounded-md p-3 mt-5" *ngFor="let team of teams.controls; let i = index">
            <div class="text-md">{{ team.get('team')?.value }}</div>
            <div class="">
              <label for="position">Positie Toevoegen</label>
              <div class="flex w-full">
                <input type="text" id="position" name="position" autocomplete="position" class="mr-2" #positionName>
                <button type="button" class="cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 mt-2" (click)="addPosition(i, positionName.value)">Toevoegen</button>
              </div>
            </div>
            <div class="mt-5 text-sm">
              <div *ngFor="let position of team.get('positions')?.value; let j = index" class="mb-5">
                <div class="flex justify-between">
                  <div class="">{{ position.name }}</div>
                  <div class="cursor-pointer" (click)="removePosition(i, j)">
                    <fa-icon class="fa-lg text-gray-400 mr-2" [icon]="faXmark"></fa-icon>
                  </div>
                </div>
                <div class="mt-2">
                  <div class="flex w-full mb-3">
                    <div class="grid grid-cols-1 w-full mr-2">
                      <select id="user" name="user" autocomplete="user" #userResponsible>
                        <option value=""></option>
                        <option *ngFor="let user of users" [value]="user[0]">{{ user[1] }}</option>
                      </select>
                      <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <button type="button" class="cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" (click)="addUser(i, j, userResponsible.value)">
                      <fa-icon class="fa-lg text-gray-900" [icon]="faPlus"></fa-icon>
                    </button>
                  </div>

                  <div class="flex justify-between items-center" *ngFor="let user of position.members; let k = index">
                    <div class="flex items-center">
                      <div class="avatar mr-4">{{ getInitials(user['user_id']) }}</div>
                      <div class="text-sm/6">
                        <p class="font-semibold text-gray-900">
                          <span class="absolute"></span>
                          {{ getName(user['user_id']) }}
                        </p>
                        <p class="text-gray-600"></p>
                      </div>
                    </div>

                    <div class="flex gap-2">
                      <div class="">
                        <fa-icon class="fa-xl {{ getIconClass(user['status']) }}" [icon]="getIcon(user['status'])"></fa-icon>
                      </div>
                      <div class="cursor-pointer" (click)="removeUser(i, j, k)">
                        <fa-icon class="fa-lg text-gray-400 mr-2" [icon]="faXmark"></fa-icon>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 flex justify-between">
      <div>
        <button type="submit" class="cursor-pointer rounded-md bg-secondary text-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-secondary/90 mt-2">
          <fa-icon class="fa-lg mr-2" [icon]="faFloppyDisk"></fa-icon>Opslaan
        </button>
        <button type="button" class="ml-3 cursor-pointer rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" (click)="cancel()">
          <fa-icon class="fa-lg text-gray-400 mr-2" [icon]="faXmark"></fa-icon>Anuleren
        </button>
      </div>
      <div>
        <button type="button" class="ml-3 text-white cursor-pointer rounded-md bg-danger px-3.5 py-2.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-danger/90" (click)="deleteService()">
          <fa-icon class="fa-lg mr-2" [icon]="faTrash"></fa-icon>{{ confirmDelete ? 'Bevestig Verwijderen' : 'Verwijderen' }}
        </button>
      </div>
    </div>
  </div>
</form>
